<!DOCTYPE html>
<html>
  <head>
    <title>Gym Membership Form</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css')}}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
    integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
    crossorigin=""></script>
    <script type="text/javascript">
      var taxi_zones_list = '{{taxi_zones|tojson }}'
    </script>
  </head>
  <body>
    <div class="testbox">
      <form  method="post"> 
        <div class="banner">
          <h1>NY CAB Trips</h1>
        </div>
        <p class="top-info">Fill The data to Schedule a Cab For You</p>
        <div class="item">
          <p>Name<span class="required">*</span></p>
          <div class="name-item">
            <input type="text" name="first_name" placeholder="First" required/>
            <input type="text" name="last_name" placeholder="Last" required/>
          </div>
        </div>
        <div class="question">
          <p>Gender<span class="required">*</span></p>
          <div class="question-answer">
            <label><input type="radio" value="male" name="gender" required/> <span>Male</span></label>
            <label><input type="radio" value="female" name="gender" required/> <span>Female</span></label>
          </div>
        </div>
        <div class="item">
          <p>Select your Taxi trip<span class="required">*</span></p>
          <input type="text" name="address" placeholder="Street address" required/>
          <p>Select Zones: (From/To)<span class="required">*</span></p>
          <div class="city-item">
            <select id="from_zone"  name="from_zone">
              {% for item in taxi_zones%}
              <option>{{item.Zone}}</option>
              {% endfor %}
            </select>
            <select id="to_zone" name="to_zone">
              {% for item in taxi_zones %}
              <option>{{item.Zone}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="item">
          <p>Email<span class="required">*</span></p>
          <input type="text" name="email" required/>
        </div>
        <div class="item">
        <div id="map" class="item first""></div>
        </div>
        <div class="btn-block">
          <button type="submit">Apply</button>
        </div>
        <script src="{{ url_for('static', filename='map.js') }}"></script>
      </form>
    </div>
  </body>
</html>